/*.*~
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

build
.idea
target
project


/*.log
/.emacs.desktop
/.emacs.desktop.lock
/.settings
/output
/target
/bin
/build
/.apt_generated/
*.factorypath
/.classpath
/.project
/.idea
/*.iml
/logs
